<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      SÉRIES
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>13 De Dezembro 2005</ion-card-subtitle>
      <ion-card-title>Supernatural</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     <img src= "https://image.tmdb.org/t/p/w185_and_h278_bestv2/3iFm6Kz7iYoFaEcj4fLyZHAmTQA.jpg"/>
     <p>"Os irmãos Dean e Sam vasculham o país em busca de atividades paranormais, brigando com demônios, fantasmas e monstros no caminho."</p>
     <ion-button shape="round" fill="outline" color="danger">+ Informações...</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>23 De Setembro de 2013</ion-card-subtitle>
      <ion-card-title>The Black List</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     <img src= "https://image.tmdb.org/t/p/w185_and_h278_bestv2/x65SX9xM5wQRAQWQNL2melBCe1j.jpg"/>
     <p>"Após se entregar à polícia, um brilhante fugitivo oferece ajuda ao FBI, mas apenas se a novata Elizabeth Keen for sua parceira."</p>
     <ion-button shape="round" fill="outline" color="danger">+ Informações...</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>31 De Outubro De 2010</ion-card-subtitle>
      <ion-card-title>The Walking Dead</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     <img src= "https://image.tmdb.org/t/p/w185_and_h278_bestv2/vxuoMW6YBt6UsxvMfRNwRl9LtWS.jpg"/>
     <p>"Nos Estados Unidos pós-apocalíptico, um pequeno grupo de sobreviventes segue viajando à procura de uma nova casa longe dos mortos-vivos. O desespero por seguran…"</p>
     <ion-button shape="round" fill="outline" color="danger">+ Informações...</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>22 De Setembro De 2005</ion-card-subtitle>
      <ion-card-title>Criminal Minds</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     <img src= "https://image.tmdb.org/t/p/w185_and_h278_bestv2/qdyuyfHBSPEN6Zvicr8kM6dBYTS.jpg"/>
     <p>"Suspense centrado numa equipe de elite do FBI especializada em analisar os perfis dos mais temidos serial killers, antecipando seus próximos passos antes que eles…"</p>
     <ion-button shape="round" fill="outline" color="danger">+ Informações...</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
